public/index.html
<!DOCTYPE html><!--[if lt IE 7]><html id="html" class="no-js lt-ie9 lt-ie8 lt-ie7" lang='es' xmlns:fb="http://ogp.me/ns/fb#"><![endif]-->
<!--[if IE 7]><html id="html" class="no-js ie7 lt-ie9 lt-ie8" lang='es' xmlns:fb="http://ogp.me/ns/fb#"><![endif]-->
<!--[if IE 8]><html id="html" class="no-js ie8 lt-ie9" lang="es" xmlns:fb="http://ogp.me/ns/fb#"><![endif]-->
<!--[if IE 9]><html id="html" class="no-js ie9 lt-ie10" lang="es" xmlns:fb="http://ogp.me/ns/fb#"><![endif]-->
<html id="html" lang="es">
  <!--<![endif]-->
  <head>
    <title>Home | La Nave de Oktopus</title>
    <meta name="description">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta property="og:title" content="Home">
    <meta property="og:description">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <link rel="icon" type="image/png" href="static/favicon.ico"><!--[if gte IE 6 & lt IE 9]><script src!="<?php echo $this->basePath() ?>/site/scripts/libs/html5shiv.js"></script><![endif]-->
<!--[if gte IE 6 & lt IE 9]><script src!="<?php echo $this->basePath() ?>/site/scripts/libs/selectivizr.js"></script><![endif]-->
<!--[if lte IE 9]><script> window._ie = true; </script><![endif]-->
    <link href="static/styles/main.css" rel="stylesheet">
  </head>
  <body class="body--home" id="body">
    <div class="header body__inner">
      <div class="header__logo"><img src="static/images/logo.png"></div>
      <div class="header__car">
        <div class="header__social">
          <p>Encuentrános también en </p>
          <div class="header__social__ico"><a href="http://www.facebook.com" target="_blank"><img src="static/images/ico-fb.png"></a><a href="http://www.instagram.com" target="_blank"><img src="static/images/ico-instagram.png"></a></div>
        </div><a class="login__button" href="#">
          <p>Ingresa</p></a>
        <div class="bolsa__compras">
          <div class="bolsa__compras__left">
            <p>Bolsa de Compras</p>
            <p class="count__products"><span>0 </span>Productos</p>
          </div>
          <div class="bolsa__compras__right"><img src="static/images/ico-carrito.png"></div>
        </div>
      </div>
      <div class="menu">
        <ul>
          <li>
            <div class="BurgerMenu" id="MenuMobile"><span></span><span></span><span></span><span></span>
              <p>Menu de Categorías</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="menuOpen">
        <div class="menuOpen__image"><img src="static/images/"></div>
        <div class="menuOpen__list">
          <ul>
            <li> <a href="#">Golosinas</a></li>
            <li> <a href="#">Chocolate</a></li>
            <li> <a href="#">Snacks</a></li>
            <li> <a href="#">Delicatessen</a></li>
            <li> <a href="#">Licores</a></li>
            <li> <a href="#">Tecnología</a></li>
            <li> <a href="#">Acerca de Nosotros</a></li>
          </ul>
        </div>
      </div>
    </div>
    <main>
      <section class="home body__inner">
        <div class="home__slider">
          <div class="owl-carousel owl-theme">
            <div class="item"><a class="slider__button" href="#">Ver más</a></div>
            <div class="item"><a class="slider__button" href="#">Ver más</a></div>
          </div>
        </div>
      </section>
      <section class="home__categories">
        <h2>Categorías</h2>
        <div class="home__categories__inner row"><a href="#">
            <div class="column large-3 categories--golosinas">
              <p>Golosinas</p>
            </div></a>
          <div class="column large-3"><a href="#">
              <div class="categories--hogar">
                <p>Hogar</p>
              </div></a><a href="#">
              <div class="categories--chocolate">
                <p>Chocolate</p>
              </div></a></div>
          <div class="column large-3"><a href="#">
              <div class="categories--delicatessen">
                <p>Delicatessen</p>
              </div></a><a href="#">
              <div class="categories--snacks">
                <p>Snacks</p>
              </div></a></div>
          <div class="column large-3"><a href="#">
              <div class="categories--licores">
                <p>Licores</p>
              </div></a><a href="#">
              <div class="categories--tecnologia">
                <p>Tecnología</p>
              </div></a></div>
        </div>
      </section>
      <section class="home__novedades body__inner">
        <h2>Novedades</h2>
        <div class="row">
          <div class="novedad column large-3">
            <div class="novedad__image"><img src="static/images/chococones.jpg"></div>
            <div class="novedad__info">
              <p class="novedad__info__marca">Marca</p>
              <p class="novedad__info__nombre">Nombre Producto</p>
              <p class="novedad__info__precio">$50.00</p>
            </div>
          </div>
          <div class="novedad column large-3">
            <div class="novedad__image"><img src="static/images/chococones.jpg"></div>
            <div class="novedad__info">
              <p class="novedad__info__marca">Marca</p>
              <p class="novedad__info__nombre">Nombre Producto</p>
              <p class="novedad__info__precio">$50.00</p>
            </div>
          </div>
          <div class="novedad column large-3">
            <div class="novedad__image"><img src="static/images/chococones.jpg"></div>
            <div class="novedad__info">
              <p class="novedad__info__marca">Marca</p>
              <p class="novedad__info__nombre">Nombre Producto</p>
              <p class="novedad__info__precio">$50.00</p>
            </div>
          </div>
          <div class="novedad column large-3">
            <div class="novedad__image"><img src="static/images/chococones.jpg"></div>
            <div class="novedad__info">
              <p class="novedad__info__marca">Marca</p>
              <p class="novedad__info__nombre">Nombre Producto</p>
              <p class="novedad__info__precio">$50.00</p>
            </div>
          </div>
        </div>
        <div class="row mas-vendidos">
          <h2>Lo más vendidos</h2>
          <div class="novedad column large-3">
            <div class="novedad__image"><img src="static/images/chococones.jpg"></div>
            <div class="novedad__info">
              <p class="novedad__info__marca">Marca</p>
              <p class="novedad__info__nombre">Nombre Producto</p>
              <p class="novedad__info__precio">$50.00</p>
            </div>
          </div>
          <div class="novedad column large-3">
            <div class="novedad__image"><img src="static/images/chococones.jpg"></div>
            <div class="novedad__info">
              <p class="novedad__info__marca">Marca</p>
              <p class="novedad__info__nombre">Nombre Producto</p>
              <p class="novedad__info__precio">$50.00</p>
            </div>
          </div>
          <div class="novedad column large-3">
            <div class="novedad__image"><img src="static/images/chococones.jpg"></div>
            <div class="novedad__info">
              <p class="novedad__info__marca">Marca</p>
              <p class="novedad__info__nombre">Nombre Producto</p>
              <p class="novedad__info__precio">$50.00</p>
            </div>
          </div>
          <div class="novedad column large-3">
            <div class="novedad__image"><img src="static/images/chococones.jpg"></div>
            <div class="novedad__info">
              <p class="novedad__info__marca">Marca</p>
              <p class="novedad__info__nombre">Nombre Producto</p>
              <p class="novedad__info__precio">$50.00</p>
            </div>
          </div>
        </div>
        <div class="button__vermas__home"><a href="#">Ver más</a></div>
        <div class="row ofertas-especiales">
          <h2>Ofertas Especiales</h2>
          <div class="novedad column large-3">
            <div class="novedad__image"><img src="static/images/chococones.jpg"></div>
            <div class="novedad__info">
              <p class="novedad__info__marca">Marca</p>
              <p class="novedad__info__nombre">Nombre Producto</p>
              <p class="novedad__info__precio">$50.00</p>
            </div>
          </div>
          <div class="novedad column large-3">
            <div class="novedad__image"><img src="static/images/chococones.jpg"></div>
            <div class="novedad__info">
              <p class="novedad__info__marca">Marca</p>
              <p class="novedad__info__nombre">Nombre Producto</p>
              <p class="novedad__info__precio">$50.00</p>
            </div>
          </div>
          <div class="novedad column large-3">
            <div class="novedad__image"><img src="static/images/chococones.jpg"></div>
            <div class="novedad__info">
              <p class="novedad__info__marca">Marca</p>
              <p class="novedad__info__nombre">Nombre Producto</p>
              <p class="novedad__info__precio">$50.00</p>
            </div>
          </div>
          <div class="novedad column large-3">
            <div class="novedad__image"><img src="static/images/chococones.jpg"></div>
            <div class="novedad__info">
              <p class="novedad__info__marca">Marca</p>
              <p class="novedad__info__nombre">Nombre Producto</p>
              <p class="novedad__info__precio">$50.00</p>
            </div>
          </div>
        </div>
        <div class="button__vermas__home"><a href="#">Ver más</a></div>
      </section>
    </main>
    <div class="footer">
      <div class="body__inner">
        <div class="row">
          <div class="column large-6">
            <div class="footer__logo"><img src="static/images/logo.png"></div>
            <div class="footer__social">
              <p>Encuentrános también en </p>
              <div class="footer__social__ico"><a href="http://www.facebook.com" target="_blank"><img src="static/images/ico-fb-blanco.png"></a><a href="http://www.instagram.com" target="_blank"><img src="static/images/ico-instagram-blanco.png"></a></div>
            </div>
          </div>
          <div class="column large-3">
            <div class="footer__micuenta">
              <ul>
                <li>Mi Cuenta</li>
                <li>Regístrate</li>
                <li>Actualiza tus datos</li>
                <li>Cambia tu clave</li>
                <li>¿Olvidaste tu clave?</li>
              </ul>
            </div>
          </div>
          <div class="column large-3">
            <div class="footer__servicio">
              <ul>
                <li>Preguntas frecuentes</li>
                <li>Tiempos y costos de envío</li>
                <li>Cambios y devoluciones</li>
                <li>Términos y condiciones</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="static/scripts/libs/require.js"></script>
    <script type="text/javascript">require.config({
  baseUrl:'/static/scripts',
  paths: {
    'fb': 'modules/fb',
    'tw': 'modules/tw',
    'async': 'libs/require.async',
    'autotab' : 'libs/jquery.autotab',
    'alphanumeric': 'libs/jquery.alphanumeric',
    'registerForm': 'modules/register-form',
    'easyModal': 'modules/easy-modal',
    'easyForm': 'modules/easy-form',
    'easySearch': 'modules/easy-search',
    'floatedLabel': 'libs/floated.label',    
    'validate': 'libs/jquery.validate/jquery.validate',
    'jquery': 'libs/jquery-1.11.0',
    'menu': 'modules/menu',
    'validateExt':'libs/jquery.validate/additional-methods',
    'datepicker':'libs/jquery-ui-1.10.4.datepicker',
    'jqueryUI': 'libs/jquery-ui-1.9.2.custom',
    'owlslider': 'libs/owl.carousel.min'
  },
  shim: {
    'owlslider':[
      'jquery'
    ],
    'alphanumeric':[
      'jquery'
    ],
    'validate' : [
      'jquery'
    ],
    'validateExt':[
      'validate'
    ],
    'floatedLabel' : [
      'jquery'
    ],
    'autotab' : [
      'jquery'
    ],
    'jqueryUI':[
      'jquery'
    ],
    'easySearch' : [
      'jqueryUI'
    ],
    'easyModal': [
      'jquery'
    ],
    'easyForm': [
      'jquery'
    ]
  }
});
    </script>
    <script type="text/javascript">
      require.config({
        baseUrl:'static/' + 'scripts'
      })
      require(['site.home']);
      
    </script>
  </body>
</html>

frontend/site/templates/sections/index.pug
extend _layout

prepend html
  - custom.title = 'Home'
  - custom.body_cls = 'body--home'

block main
  section.home.body__inner
    .home__slider
      .owl-carousel.owl-theme
        .item
          a(href!="#").slider__button Ver más
        .item
          a(href!="#").slider__button Ver más
  section.home__categories
    h2 Categorías
    .home__categories__inner.row
      a(href!="#")
        .column.large-3.categories--golosinas
          p Golosinas
      .column.large-3
        a(href!="#")
          .categories--hogar
            p Hogar
        a(href!="#")
          .categories--chocolate
            p Chocolate
      .column.large-3
        a(href!="#")
          .categories--delicatessen
            p Delicatessen
        a(href!="#")
          .categories--snacks
            p Snacks
      .column.large-3
        a(href!="#")
          .categories--licores
            p Licores
        a(href!="#")
          .categories--tecnologia
            p Tecnología
  section.home__novedades.body__inner
    h2 Novedades
    .row
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
    
    .row.mas-vendidos
      h2 Lo más vendidos
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
    .button__vermas__home
      a(href!="#") Ver más
    
    .row.ofertas-especiales
      h2 Ofertas Especiales
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
      .novedad.column.large-3
        .novedad__image
          img(src!=config.static_url("images/chococones.jpg"))
        .novedad__info
          p.novedad__info__marca Marca
          p.novedad__info__nombre Nombre Producto
          p.novedad__info__precio $50.00
    .button__vermas__home
      a(href!="#") Ver más

    

    

block scripts
  +requireTag('site.home')
